.header-top {
    margin-top: 217px;
    height: 300px;
    color: #ffffff;
    padding: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');
    background-color: #000000;
    background-position: center center;
    background-size: cover;
        .dark-overlay {
            opacity: 0.4;
        }
}

.feature-partner {
    min-height: 300px;
    color: #ffffff;
    padding: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0) ), url('/images/partners-row.jpg');
    background-color: #000000;
    background-position: center center;
    background-size: cover;
        .dark-overlay {
            opacity: 0.4;
        }
}


@media screen and (max-width: 768px) {
	.header-top {
    margin-top: 68px;
    height: 300px;
    color: #ffffff;
    padding: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');
    background-color: #000000;
    background-position: center center;
    background-size: cover;
        .dark-overlay {
            opacity: 0.4;
        }
}
}

