.darkbg {
    background-color: #313135;
}

.content-row {
    margin-top: -40px;
}

.feature-row {
    padding-bottom: 80px;
}
.content-block {
    padding: 0 1px 20px 1px;
}

.content-card {
    background-color: #ffffff;
    .textbox {
        padding: 25px 30px 25px 30px;
        min-height: 130px;
    }
    
}

.portfolio-card {
    background-color: #f3f3f3;
    .textbox {
        padding: 25px 30px 25px 30px;
        min-height: 130px;
    }    
}

 .featurette-right {
     padding-top: 50px;
     padding-bottom: 50px;
     text-align: right;
     }

 .featurette-left {
     padding-top: 50px;
     padding-bottom: 50px;
     }

 .featurette-center {
     padding-top: 50px;
     padding-bottom: 50px;
     text-align: center;
     }

 

 .featurette-image {
     padding-top: 80px;
     padding-bottom: 50px;
 }


@media screen and (max-width: 768px) {
	.featurette-right {
         padding-top: 50px;
         padding-bottom: 50px;
         text-align: center;
 }
    .featurette-left {
         padding-top: 50px;
         padding-bottom: 50px;
         text-align: center;
 }
}

@media screen and (max-width: 480px) {
	.featurette-right {
         padding-top: 50px;
         padding-bottom: 50px;
         text-align: center;
 }
    .featurette-left {
         padding-top: 50px;
         padding-bottom: 50px;
         text-align: center;
 }
}