.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #6666cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #8080d3;
}
 
.btn-primary:active, .btn-primary.active {
    background: #2d2db3;
    box-shadow: none;
}

.btn-info {
    background: #7f7f7e;
    color: #ffffff;
}
 
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: #afafae;
}
 
.btn-info:active, .btn-info.active {
    background: #0b0b09;
    box-shadow: none;
}

.btn-dark {
    background: #0b0b09;
    color: #ffffff;
}
 
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark {
    background: #1d1d1c;
    color: #ffffff;
}
 
.btn-dark:active, .btn-dark.active {
    background: #7f7f7e;
    color: #ffffff;
    box-shadow: none;
}

.btn.sharp {
    border-radius:0;
}

.text-light {
    color: #ffffff;
}