$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "mixins";
@import "_interactions";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: $basic-color;
  background: $background-color;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color:#7a7a7a;
}

/* No gutter rows for bootstrap */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > [class^="col-"], > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Full height rows and columns for bootstrap */
.row.full-height {
  display: table;
  height: 100%;
  width: 100%;
  > [class^="col-"], > [class*=" col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

/* Toolbars */
.generic-element-container {
  width: 100%;
  height: 65px;
  p{
    margin: 0;
    text-align: center;
    line-height: 65px;
  }
}
.generic-element-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  color: $basic-color-light;
  margin: 0;
  padding: 10px 0 5px;
  text-align: center;
  i {
    font-size: 17px;
    line-height: 17px;
    margin: 0 -4px -2px;
  }
}
.interactions-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 75px;
  background: $white;
  border-right: 1px solid $border-color;
  z-index: 10;  /*higher than top and bottom bars, egual to right bar; higher z-index due to inner elements positionings that require lower z-indexes */
  box-shadow: $box-shadow-right;
}
.interactions-bar-nr {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 75px;
  height:75px;
  background:transparent;
  border-right: 1px solid $border-color;
  z-index: 10;  /*higher than top and bottom bars, egual to right bar; higher z-index due to inner elements positionings that require lower z-indexes */
  box-shadow: $box-shadow-right;
}
.interactions-element-container {
  height: 90px;
  &.user-profile {
    border-bottom: 1px solid $border-color;
    height: 75px;
    p {
      line-height: 75px;
    }
    a {
      height: 75px;
    }
    img {
      border: 1px solid $border-color;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
  small {
    font-size: 10px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    color: $basic-color-medium;
    text-align: center;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  a {
    position: relative;
    display: block;
    height: 90px;
  }
  .default-user {
    display: block;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: transparent;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 3;
    &.orange {
      background-color: #C1A082;
    }
    &.red {
      background-color: #F4C7BD;
      z-index: 2;
    }
    &.green {
      background-color: #BDF4E0;
      z-index: 1;
    }
    img {
      vertical-align: top;
    }
  }
  &.single-interaction {
    .default-user {
      top: 15px;
      left: 20px;
    }
  }
  &.double-interaction {
    .default-user {
      &:first-of-type {
        top: 15px;
        left: 10px;
      }
      &:last-of-type {
        top: 15px;
        right: 10px;
      }
    }
  }
  &.multiple-interaction {
    .default-user {
      width: 35px;
      height: 35px;
      line-height: 35px;
      &:first-of-type {
        top: 30px;
        left: 12px;
      }
      &:nth-of-type(2) {
        top: 20px;
        right: 12px;
      }
      &:last-of-type {
        top: 10px;
        left: 20px;
      }
    }
  }
}
.tools-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0px;
  width: 65px;
  background: $white;
  border-left: 1px solid $border-color;
  z-index: 10;
  box-shadow: $box-shadow-left;
}
.tools-bar-nr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0px;
  width: 65px;
  height:75px;
  background: transparent;
  border-left: 1px solid $border-color;
  z-index: 10;
  box-shadow: $box-shadow-left;
}

.hex-shape {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  opacity: 1;
  &:hover, &:focus {
    opacity: 0.6;
  }
  &.red {
    background-image: svgHex(#F4C7BD);
  }
  &.green {
    background-image: svgHex(#00ff00);
  }
  &.blue {
    background-image: svgHex(#0000ff);
  }
}
.tools-element-container {
  &.logo-container {
    height: 75px;
    padding: 10px;
    p {
      line-height: 80px;
    }
  }
  p {
    font-size: 24px;
  }
  a {
    display: block;
    color: $grey;
    &:hover, &:focus {
      color: $white;
      background: $grey;
    }
    &.logo-link {
      display: block;
      padding: 10px 8px;
      &:hover, &:focus {
        background-color: transparent;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.user-icon-container {
  display:block;
  width:75px;
  height:75px;
}
.user-icon{
    color: rgba(0,0,0, 0.5);
    font-size: 50px;
    padding-left:10px;
    vertical-align: middle;
    text-align: center;
    position:fixed;
    z-index:300;
}
.logo {
 width:65px;
 height:65px;
 position:fixed;
 right:0;
 z-index:300;
 img {
        width: 50px;
        height: 50px;
      }
}
.header-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 75px;
  height: 75px;
  width: calc(100% - 140px);
  background: $background-color;
  border-bottom: 1px solid $border-color;
  outline: 1px solid $white;
  z-index: 9;
  p {
    text-align: right;
    font-size: 18px;
    line-height: 75px;
    padding-right: 20px;
  }
  i {
    color: #EB7800;
    font-size: 24px;
    vertical-align: middle;
  }
}

.header-bar-nr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  height: 75px;
  width: 100%;
  background: rgba(255,255,255, 0.7);
  /*border-bottom: 1px solid $border-color;
  outline: 1px solid $white;*/
  text-align: right;
  padding-top:30px;
  padding-right:20px;
  z-index: 9;
  p {
    text-align: right;
    font-size: 18px;
    line-height: 75px;
    padding-right: 20px;
  }
  i {
    color: #EB7800;
    font-size: 24px;
    vertical-align: middle;
  }
}

.menu-items{
    font-family: PT Serif;
    color: #000000;
    font-size: 18px;
    font-weight: 100;
    padding-right: 70px;
    padding-top: 20px;
    right: 0;
    position:relative;
    text-align: right;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.notifications-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: $background-color;
  border-top: 1px solid $border-color;
  z-index: 9;
  box-shadow: $box-shadow-top;
  padding: 0 81px;
  p {
    line-height: 80px;
  }
}

/* Container */
.views-container {
  padding: 0px 0px 0px 0px;
  margin: 0;
  border: 0;
  height: 100vh;
  position: relative;
  > div {
    height: 100%;
  }
}

.container-fluid.main-container{
  padding:0;
  img {
    position:relative;
    width:100%;
    position:relative;
    left:50%;
    transform:translate (-50%,-50%);
    margin-left:-50%;
  }
}

#menu-top {
font-size: 26px;
font-family: "PT Serif";
position: absolute;
top:0;
}

#menu-top div {
left: 755px;
width: 250px;
}
.background-image {
position: relative;
width: 100%;
height:800px;
}
.background-image > img {
width: 100%;
height: 800px;
}
.logo-mainpage{
  position: absolute;
  width:80px;
   top: 20%;
   left: 50%;
  transform: translate(-50%, -50%);
}
.menu-mainpage {
   position: absolute;
   top: 50%;
   left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
   h1 {
    font-family: PT Serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    padding-top:100px;
    padding-bottom:300px;
  }
    h2 {
      font-family: PT Serif;
      color: white;
      text-align: center;
      font-weight: 100;
      font-size: 20px;
      line-height: 30px;
      color: white;
      margin: 0;
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      padding-top:20px;}


    h3 {
      font-family: PT Serif;
      color: white;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      color: white;
      margin: 0;
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
      text-transform: lowercase;
      font-style: italic;
    }

}

/*Patterns*/
.center-block {
    max-width: 1200px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:150px;
}
.patterns-link {
    background-color: #fff;
    border: 0 solid #eee;
    box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.03);
    color: #797984;
    display: block;
    margin: 0 0 20px;
    min-height: 420px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    width: 100%;
}
.patterns-link .infoblock {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    img {width:100%;}
}

/* Generic rules */
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.full-height {
  height: 100%;
}
.m0 {
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.white-background {
  background-color: $white;
}
.right-box-shadow {
  box-shadow: $box-shadow-right;
}
.header {
  height:60px;
  width:100%;
  background-color: #005394;
    font-family: PT Serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top:10px;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    margin-top:75px;
    position:fixed;
    z-index:2;
}

.btn {
    background: none;
    border-color: transparent;
    color: #333;
    border-radius:0;
}
.btn:hover, .btn:active {
background-color:transparent;
border:none;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background:none;
  border-color:transparent;
  color:#333;
}

.dropdown-menu {
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;

}
.open {
  width:auto;
}
/*ul {
  font-family: PT serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
li {
    float: left;
a:link, a:visited {
    display: block;
    width: auto;
    font-weight: normal;
    color: #000000S;
    text-align: left;
    padding: 4px;
    margin-left:6px;
    text-decoration: none;
}
}
}*/
.dropdown {
  display:inline;
padding-left:20px;
width:auto;}

  .container {
    margin-left: auto;
    margin-right: 75px;
    padding-right: 15px;}

  .panel-title{
    font-size:20px;
    font-weight:100;
    color:#7a7a7a;
  }

.panel-body {
  color:#797984;
}