<div class="basics-modal">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <a href="index.html#basics"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/creating-a-tapestry-of-stories-header.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Creating a tapestry of stories</div>
            <div class="intro-lead-in">Collecting a rich base of interconnected stories as the basis of our designs.</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content1"></div>
            <p class="text-center"><img src="images/creating-a-tapestry-of-stories-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal13-content1').innerHTML =
                marked('The design of complex systems in an organization can involve several perspectives, Our engagement as designers doesn’t always give us a vantage point over the entire organization, and the systems we are engaged to design often have a limited mandate. Despite boundary restrictions, embodied making recommends getting coverage of stories beyond narrow walls.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content2">
            </div>
            <script>
              document.getElementById('basicsModal13-content2').innerHTML =
                marked('<hr />*Organizational representations and models are useful in ensuring adequate story coverage. Organizational charts, which tend to represent roles and responsibilities hierarchically, can be used to determine the relevant departments from which stories can be gathered.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content3"></div>
            <p class="text-center"><img src="images/creating-a-tapestry-of-stories-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal13-content3').innerHTML =
                marked('An adequate coverage of stories can be achieved by understanding the complete network involved in the system. Networks can be represented as roles, interactions between roles and entities involved in interactions. Interactions provide insights where stories could occur, and interactions are where forces manifest themselves in their most obvious forms.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content4">
            </div>
            <script>
              document.getElementById('basicsModal13-content4').innerHTML =
                marked('<hr />*For large-scale systems it is often difficult to identify exact boundaries for their applicability within organizations. It is the rare department within an organization that exists in complete isolation from other departments, and it is better to err on the side of obtaining more stories than fewer stories.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content5"></div>
            
            <script>
              document.getElementById('basicsModal13-content5').innerHTML =
                marked('When soliciting stories, avoid detailed and structured questions, such as those in the form of interviews. The key to obtaining insights is to let conversations emerge. If we approach people with potential stories with a pre-planned interview structure down to the most minute questions, chances are we will only hear the kinds of answers we already expect, and be rarely surprised. Ask people simple questions along the following lines:<br /><br />Tell me about a day in your life at work? What did you do yesterday? Are all days like this? When was the last time you felt great at work? What happened to make you feel so good? If you could change some things around here, what would you change? Have you tried to make your ideas happen before? What’s gotten in the way of making them happen?');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content6">
            </div>
            <script>
              document.getElementById('basicsModal13-content6').innerHTML =
                marked('<hr />*The usage of value networks, which capture roles, tangible interactions, and intangible interactions. They can also be expanded to cover the entities used in the interactions, and the purpose behind a set of interactions. The coverage of stories should exist across the entire value network. The development of a value network typically occurs in a process parallel to the capturing of stories.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content7"></div>
            <p class="text-center"><img src="images/creating-a-tapestry-of-stories-4.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal13-content7').innerHTML =
                marked('Try and find a “form” that seems to tie the stories together. As you listen to more and more stories, you will need to interconnect them into some manageable form. These forms can represent the organization you are within, or perhaps be representative of the form of the system you wish to implement.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content8">
            </div>
            <script>
              document.getElementById('basicsModal13-content8').innerHTML =
                marked('<hr />*Although value networks are usually restricted to two dimensions , and given that it is difficult to cover every role, interaction, purpose, and entity within an organization, they can often provide insights on the underlying form of an organization. Command and control organizations tend to have central points and resemble a many-petalled flower. Product development tends evolve ideas into working reality, and often resembles the form of growing concentric circles not unlike the form of a nautilus. Network organizations tend to form bulbous masses in areas of close collaboration, with thinner connections to areas of infrequent collaboration.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content9"></div>
            <p class="text-center"><img src="images/creating-a-tapestry-of-stories-5.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal13-content9').innerHTML =
                marked('If possible, try and index your stories on this emergent or suggestive form for rapid referencing. Representing story coverage ensures that the designers and stakeholders understand how many conversations have occurred, and how many more are needed. As the same story can touch several parts of an organization, the story can be indexed from several parts of this emergent form.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content10">
            </div>
           
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal13-content11"></div>
            <p class="text-center"><img src="images/creating-a-tapestry-of-stories-6.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal13-content11').innerHTML =
                marked('Creating a good tapestry of stories requires addressing several perspectives. A single perspective does not necessarily help create stable systems. Conversely, designer should be conscious of trying to create designs by consensus (“a horse is a camel designed by committee” ). John Godfrey Saxe’s poem of the blind men and the elephant based on the sufi fable serves to remind us of understanding the limitations of a few perspectives.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal13-content12">
            </div>
            <script>
              document.getElementById('basicsModal13-content12').innerHTML =
                marked('<hr />*If you only capture stories from the managers and leaders of an organization, it’s probable you’ll design a system that’s not usable by people that report to them. If you only capture stories from operational staff, it’s probable that their leaders and managers will not consider the system usable. Balance power in your coverage.*');
            </script>
          </div>
        </div>
      </div>
      {{>footer}}
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="story-telling-styles.html">
            <em>Story-telling styles</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="forces.html">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>Forces</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>