{{>nav}}

{{>home}}
    
{{>about}}

{{>basics}}
    
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>&copy 2012 - <span id="current-year"></span> <a href="http://www.product-foundry.com">Product Foundry</a></p>
      </div>
    </div>
  </div>
</footer>
  
{{>what-is-embodied-making}}

{{>an-applied-example}}

{{>participation-engagement-reflection}}

{{>on-innovation-and-giving-form}}

{{>challenges-of-contemporary-system-design}}

{{>embodied-makings-approach}}
    
<div class="basics-modal modal fade" id="basicsModalHolder" tabindex="-1" role="dialog" aria-hidden="true"></div>