@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \000033;
  }
}

#background {
  background: url("/images/pattern-light.svg") center center;
  background-size: 63px 63px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \000036;
  }
}

#background .pf-content-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000312;
  }
}

#background div.jumbotron {
  background-position: center center;
  display: block;
  text-shadow: 1px 2px 8px #000;
  margin-bottom: 0px;
  color: #ececef;
  min-height: 250px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000317;
  }
}

#background div.jumbotron .bg-full-container {
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000321;
  }
}

#background div.jumbotron:hover {
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000329;
  }
}

#background div.jumbotron p,
#background div.jumbotron h2,
#background div.jumbotron h3 {
  padding-left: 100px;
  padding-right: 100px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000334;
  }
}

#background div.jumbotron h2 {
  font-size: 24px;
  text-align: center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000339;
  }
}

#background div.jumbotron h3 {
  font-size: 18px;
  padding-left: 100px;
  padding-top: 24px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000345;
  }
}

#background div.jumbotron p {
  font-size: 14px;
  padding-top: 7px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000350;
  }
}

#background div.jumbotron a {
  color: #ececef;
  text-decoration: underline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000356;
  }
}

#background #bg-research {
  background-image: url("/images/research.jpg");
  background-size: cover;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000360;
  }
}

#background #bg-research:hover,
#background #bg-research.expanded {
  background-image: url("/images/research-hover.jpg");
  background-size: cover !important;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000365;
  }
}

#background #bg-practice {
  background-image: url("/images/practice.jpg");
  background-size: cover;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000368;
  }
}

#background #bg-practice:hover,
#background #bg-practice.expanded {
  background-image: url("/images/practice-hover.jpg");
  background-size: cover;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000373;
  }
}

#background #bg-method {
  background-image: url("/images/method.jpg");
  background-size: cover;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/background\.scss;
  }

  line {
    font-family: \0000376;
  }
}

#background #bg-method:hover,
#background #bg-method.expanded {
  background-image: url("/images/method-hover.jpg");
  background-size: cover;
}