@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nitran\/embodiedmaking-org\/app\/styles\/values\.scss;
  }

  line {
    font-family: \000033;
  }
}

#values {
  background: url("/images/pattern-light.svg") center center;
  background-size: 63px 63px;
}