@(sections: List[MethodSection])

@main("The Embodied Making Method") {
    
    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Embodied Making</h1>

            <p class="lead">An Introduction to the method</p>
            <a class="btn btn-large btn-primary" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);" href="assets/EmbodiedMaking_MainContent.pdf"> … </a>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="span12">
                <section id="overview">
                    <ul class="thumbnails">
                    @sections.map { section =>
                        <li class="span4">
                            <a href='@{"/method/"}@section.id' class="pattern thumbnail" style="height: 238px;">
                                <div class="caption pagination-centered"><strong>@section.title</strong></div>
                                <div class="pagination-centered">@Html({"&diams; " * 3})</div>
                                <div class="caption">@section.summary</div>
                            </a>
                        </li>
                    }
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(equalHeight($(".thumbnail"))); // TODO [AK] does not play nicely with responsive css
    </script>
   
    
}
