<section id="about" rel="About">
  <div class="pattern">
    <div class="section-background">
      <h1>About the method</h1>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <h3 class="section-subheading">What is it?</h3>
          <p>Inspired by works of Christopher Alexander, Embodied Making is a method to make sense of the most complex situations and deal with these complexity by learning, and through repeated application, forming practices to the extent of some becoming habits.</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">How is it used?</h3>
          <p>Embodied Making is an agile sensemaking method, which uses stories, forces, solutions, and patterns to weave order. This gives us the ability to craft elegant solutions in face of adversity, complexity, and scarcity.</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">When to use it</h3>
          <p>Use Embodied Making to participate, engage and reflect at every level of a complex organization. Use it on innovation and form giving or challenge contemporary system designs. You can even use it to experience and understand before analysis.</p>
        </div>
      </div>
    </div>
  </div>
</section>