<section id="about" rel="About">
  <div class="pattern">
    <div class="section-background">
      <h1>About the method</h1>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <h3 class="section-subheading">What is it?</h3>
          <p>Embodied making is a sensemaking and problem-solving method for complex situations. It uses stories of the people in those situations to understand their experiences. Forces, or the reasons those situations occur, are derived from stories or from directly from experience. The forces are balanced and resolved by solutions. The entirety of solutions are inter-purposed through patterns.</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">Who can use it?</h3>
          <p>Embodied Making can be used by everyone. We all read and tell stories. We constantly have to resolve the forces created by others and by ourselves. We all live with the solutions of modern society around us, ranging from public transport systems to coffee machines. We all need to sense of the complexity around us, and be sure that our choices are balancing the forces around us.</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">When to use it</h3>
          <p>You are probably using the elements of Embodied Making at some level in making decisions in your everyday life. You can use it for relatively simple tasks like choosing the destination of your next holiday, furnishing an office, or arranging a shop. And you can use it for relatively complex tasks like building software systems, urban planning, or structuring telecommunications infrastructure.</p>
        </div>
      </div>
    </div>
  </div>
</section>