<section id="basics" rel="Basics" class="bg-light-gray">
  <div class="container">
    <div class="section-title">
      <h1><span>Table of Content</span>The Basics</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>What is Embodied Making?</h4>
            <p>The basics of embodied making.</p>
            <a href="#basicsModal1" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>An applied example</h4>
            <p>A simple example to understand how embodied making works.</p>
            <a href="#basicsModal2" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Participation, engagement and reflection</h4>
            <p>what it means to have a method that is participatory at every level of a complex organization, engaging people across formal and informal roles/spaces, and reflecting on analysis continuously.</p>
            <a href="#basicsModal3" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>On innovation and giving form</h4>
            <p>What makes a product innovative? when is something a good idea?</p>
            <a href="#basicsModal4" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Challenges of contemporary system design</h4>
            <p>What are the challenges of contemporary system design? how pervasive are systems in our lives today? what happens when systems are poorly designed? what happens when systems are designed well?</p>
            <a href="#basicsModal5" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Embodied Making&#x27;s approach</h4>
            <p>How embodied making approaches the design of complex systems.</p>
            <a href="#basicsModal6" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Of experience and analysis</h4>
            <p>How we understand experience through analysis and frameworks.</p>
            <a href="#basicsModal7" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Frameworks before facts</h4>
            <p>What happens if we place frameworks before facts?</p>
            <a href="#basicsModal8" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Experience before analysis</h4>
            <p>What happens if we lay emphasis only to experience?</p>
            <a href="#basicsModal9" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Experience as analysis, analysis as experience</h4>
            <p>How we try and balance both experience and analysis.</p>
            <a href="#basicsModal10" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Stories</h4>
            <p>What are stories?</p>
            <a href="#" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Story-telling styles</h4>
            <p>How do we choose to tell stories?</p>
            <a href="#" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model1.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Creating a tapestry of stories</h4>
            <p>Collecting a rich base of interconnected stories as the basis of our designs.</p>
            <a href="#" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail effect-pf">
          <img src="images/model2.jpg" class="img-responsive" alt="">
          <div class="basics-text">
            <h4>Forces</h4>
            <p>What are forces?</p>
            <a href="#" data-toggle="modal">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>