<section id="patterns" rel="Patterns">
    <!-- Introduction Content -->
    <div id="page-introduction-wrapper" class="center-block">

        <!-- Introduction Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 post-heading">
                        <h2>The Basics</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </header>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/block1.gif" class="img-responsive" alt="" />
                <div class="infoblock">
                    <p>You probably encounter any number of problems everyday. Some are easy to solve. Others are more complex.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/block2.gif" class="img-responsive" alt="" />
                <div class="infoblock">
                    <p>How can you be sure that the solutions you select will solve these problems and not make them worse?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="patterns-link">
                <img src="images/introduction-featured.jpg" class="img-responsive" alt="" />
                <div class="infoblock">
                    <h4>Introduction</h4>
                    <p>Current complexity in virtual communciations and how a pattern language helps solve large scale complexity...
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- /#page-patterns-wrapper -->
</section>
<!-- /#wrapper -->
</section>