<div class="basics-modal modal fade" id="basicsModal10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/model2-large.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Experience as analysis, analysis as experience</div>
            <div class="intro-lead-in">How we try and balance both experience and analysis.</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content1"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content1').innerHTML =
                marked('In Embodied Making, we try and integrate both experience and analysis into a single structure. To achieve this, we use methods to reflect experiences throughout the design lifecycle, and utilize analytical structures that are appropriate to the experiences in the design space. This means we don’t have a single analytical structure to rule them all, but develop a portfolio of tools suitable for situations and occasions.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content2">
            </div>
            <script>
              document.getElementById('basicsModal10-content2').innerHTML =
                marked('<hr />*In embodied making, the only experience that really matters is immediate experience. This does not mean we do not value individuals with a lot of past experience, which is often reflected in things like their work history and their curriculum vitaes. We value their ability to deal with complex situations in the past, and hope they are first and foremost able to bring their attitude in solving challenges in the past to solving challenges in the present.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content3"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content3').innerHTML =
                marked('Any analysis, and solutions derived from that analysis, will create new experiences. Our analysis, and the solutions we derive from them, must first and foremost solve the challenges we face in our immediate experience. Our memory of the past is selective and often biased. Our understanding of the future is mixture of hope and insecurity. The only truth is that of immediate experience.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content4">
            </div>
            <script>
              document.getElementById('basicsModal10-content4').innerHTML =
                marked('<hr />*This means that participants do not have the attitude of “I’ve done it all before”, but of, “I’ve seen some things before, and I expect to see different things now. My exact solutions of the past will probably not solve things in their exact form in the present, but may provide insight in the form of patterns, approach, and my attitude to new problems.”*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content5"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content5').innerHTML =
                marked('Our ability to define facts is based on our perception of immediate experience. Our perception isn’t absolute truth, although to us it might feel so, and as designers, we must become conscious of the personal bias, dogma, jargon, and belief systems we bring to the table. We are first and foremost tasked with designing systems that provide balance in the environments they are realized leaving aside our personal agendas. Our observations are perceptions that are intermingled with our own personal value systems.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content6">
            </div>
            <script>
              document.getElementById('basicsModal10-content6').innerHTML =
                marked('<hr />*Designs must also ensure they do not set about to be “future-proof”. The future only exists in terms of our hopes and anxieties, and stable designs must be able to first solve problems of the present.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content7"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content7').innerHTML =
                marked('Observers have their own world-view, and have a tendency to treat their perceptions seen through their world-views as facts. Designers as observers have a tendency to project their world-views into the systems they design.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content8">
            </div>
            <script>
              document.getElementById('basicsModal10-content8').innerHTML =
                marked('<hr />*Complex systems involving humans rarely have repeatable structures. Each participant in the design process must be conscious of their personal value systems, or the things they consider important in life, and how these values end up being reflected in systems.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content9"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content9').innerHTML =
                marked('The truth value of an experience is reflected in the number of stable inferences we can make from them that are true for similar experiences in similar situations. These stable inferences can be statements of attitude, human relationships, facts about the environment that influence systems, and practical constraints. In embodied making, these stable inferences are referred to as forces.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content10">
            </div>
            <script>
              document.getElementById('basicsModal10-content10').innerHTML =
                marked('<hr />*Embodied making is inspired by thoughts and works of Charles Peirce, William James, John Dewey, Nietzsche, Husserl, Alfred Whitehead, Heidegger, Christopher Alexander, Barnett Pierce, Maurice Merleau-Monty, and several other contemporary thinkers. It also finds inspiration in improvisational forms of art like Jazz.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal10-content11"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal10-content11').innerHTML =
                marked('Designers must be observers with heightened sensitivity, faithful recorders of the experiences of others, be able to extract stable inferences from experiences, create designs that solve the situations encountered in the recorded experiences, with the ability to reflect on the efficacy of their own designs, dispensing with them when the designs are inapplicable and applying solutions with studied judiciousness, and constantly building their consciousness of their own design bias and world views. Emphasize experience and forces, not the designer and their perception.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal10-content12">
            </div>
            <script>
              document.getElementById('basicsModal10-content12').innerHTML =
                marked('<hr />*The structures of improvization offered by Jazz provided a lot of the source material for shaping Embodied making. Practices like the Toyota Production System and Continuous Improvement were also key influencers. The Embodied making method itself was developed using the Embodied making.*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="#" data-content="#basicsModal9" class="load-different-content">
            <em>Experience before analysis</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="#" data-content="#basicsModal11" class="load-different-content">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>Stories</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>