<div class="basics-modal modal fade" id="basicsModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/model2-large.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Experience before analysis</div>
            <div class="intro-lead-in">What happens if we lay emphasis only to experience?</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content1"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content1').innerHTML =
                marked('Alternatively, we could treat individual experiences as being more significant that those of analytical frameworks and the analysis that results from them. We can dispense with analytical formalisms, and emphasize relationships, transparency, and skills to deal with a variety of situations.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content2">
            </div>
            <script>
              document.getElementById('basicsModal9-content2').innerHTML =
                marked('<hr />*Several eastern philosophies, such as Yoga, Daoism, Zen, and industrial derivatives like Kaizen, promote such a world-view. Definitions of beauty, derived from these philosophies, such as Sundara or Wabi-Sabi differ from the western concepts of beauty.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content3"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content3').innerHTML =
                marked('Understanding human experience is complex. Eastern traditions encourage individuals to start with themselves and understand their interconnected relationship with the world. Here understanding is paramount over representations. Pictures are representations. Writing is representation. Speech is a representation.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content4">
            </div>
            <script>
              document.getElementById('basicsModal9-content4').innerHTML =
                marked('<hr />*As a matter of fact, there is also a deep western tradition of emphasizing experience before analysis, perhaps best encapsulated by Heraclitus as “no man ever steps into the same river twice”. His student, Cratylus, emphasized that it was not possible to step into the same river even once.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content5"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content5').innerHTML =
                marked('As designers then, we could use only experiences to shape our designs. Whereas rational thought is focused on coherence and logic, empirical thought is based on applicability and what’s adequate. Empiricism relies on reaching conclusions based on experience and observation, and relies upon the skills of the observer.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content6">
            </div>
            <script>
              document.getElementById('basicsModal9-content6').innerHTML =
                marked('<hr />*Another contemporary, Gorgias (circa 400 BCE) , insisted that, “nothing exists; even if something exists, nothing can be known about it; even if something can be known about it, it can’t be communicated to others; even it can be communicated, it cannot be understood.”*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content7"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content7').innerHTML =
                marked('Yet, as observers, we can never really be completely detached from the environment we are observing. The experiences we observe are shaped by our roles as designers in those environments. How much we choose to observe, and the conclusions we get from observations, rely on our skills as observers.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content8">
            </div>
            <script>
              document.getElementById('basicsModal9-content8').innerHTML =
                marked('<hr />*Examples of this world view from the Bhagavad Gita: "When a man dwells in his mind on the object of sense, attachment to them is produced. From attachment springs desire and from desire comes anger. From anger arises bewilderment, from bewilderment loss of memory; and from loss of memory, the destruction of intelligence and from the destruction of intelligence he perishes."*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content9"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content9').innerHTML =
                marked('And as observers, there is a tendency to mingle our past experiences with present ones, leading to a rigid empiricism. Conversely, there is the alternative of considering each experience as unique, and never being able to design a system to contain these experiences. In methods that place the designer at the forefronts, there is high reliance on the individual’s design skills, sensitivity to the environment, and the awareness of personal will and bias in shaping designs.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content10">
            </div>
            <script>
              document.getElementById('basicsModal9-content10').innerHTML =
                marked('<hr />*“Those who take wisdom as their highest goal, whose faith is deep and whose senses are trained, attain wisdom quickly and enter into perfect peace. But the ignorant, indecisive and lacking in faith, waste their lives. They can never be happy in this world or any other.”*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal9-content11"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal9-content11').innerHTML =
                marked('Using only experience without any analytical structures tends to emphasize the role of the invidual designer above all else. The design process is rarely participatory, engaged, or transparent, and has a tendency to depend upon artistic individuality and personal flourishes. The personal will, values, and world-view of the designer finds its way into the design, and the people who have to dwell within these systems tend to find the imprint of one individual’s perspective in too great a measure. Eventually, it may all get a bit too “touchy-feely” and reliance on statements like “trust me, I’ve done all this before” rather than some design criteria that can be openly communicated.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal9-content12">
            </div>
            <script>
              document.getElementById('basicsModal9-content12').innerHTML =
                marked('<hr />*We can sometimes experience these methods clash directly in inter-disciplinary software development teams where the user experience is driven by those who place experience before analysis, and the system development is led by those who place frameworks before situations (front-end vs. back-end).*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="#" data-content="#basicsModal2" class="load-different-content">
            <em>An applied example</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="#" data-content="#basicsModal4" class="load-different-content">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>On innovation and giving form</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>