<div class="basics-modal modal fade" id="basicsModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/model2-large.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Frameworks before facts</div>
            <div class="intro-lead-in">What happens if we place frameworks before facts?</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content1"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content1').innerHTML =
                marked('We could treat analysis and frameworks as more important the experiences with the assumption that individual experiences are not that unique and can be mapped to common abstractions.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content2">
            </div>
            <script>
              document.getElementById('basicsModal8-content2').innerHTML =
                marked('<hr />*Aristotle laid the emphasis of being able to categorize all things, and if it was not possible categorize something, it was “no thing” or nothing. Galileo laid emphasis on scientific detachment, but didn’t offer a structure for re-engagement to see the consequences of a scientific solution.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content3"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content3').innerHTML =
                marked('Using this approach, we would assume that all experiences can be categorized into the structures of our analysis utilizing the guidance of a framework.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content4">
            </div>
            <script>
              document.getElementById('basicsModal8-content4').innerHTML =
                marked('<hr />*Issac Newton believed that the universe is about exactness. For every action, there is an equal reaction. If we turn a key on a complex mechanism once, and it has the reaction of turning thrice, then all we need to figure the exact components that are contributing to that reaction, and we will understand the system.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content5"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content5').innerHTML =
                marked('In practice, there are occasions where our analysis based on a framework is limited, as the framework only gives us the means to capture specific aspects of experience. Portions of experience can be ignored, uncaptured, or unknown.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content6">
            </div>
            <script>
              document.getElementById('basicsModal8-content6').innerHTML =
                marked('<hr />*Rene Descartes, most well known for his statement “Cogito Ergo Sum” believed the mind to exist separately from the body. This encouraged detachment from the physical world, and placed thought in a plane separate from experience.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content7"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content7').innerHTML =
                marked('Yet we desire simple solutions for complex problems, and considering every possible experience means solutions can never be realized. Ideally, it is desirable to have frameworks where experience can be easily categorized and solutions can be objectively designed.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content8">
            </div>
            <script>
              document.getElementById('basicsModal8-content8').innerHTML =
                marked('<hr />*Individually, the views of these 4 thinkers are very useful. Taken together, they lend the appearance of complex situations in organizations and systems being "easily categorized".*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content9"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content9').innerHTML =
                marked('On the other hand, applying too many frameworks leads to fragmented and sometimes conflicting results. Applying the methods from one framework lead to a certain solutions, and applying another leads to other solutions. The resulting design will seem incoherent, inconsistent, and unstable.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content10">
            </div>
            <script>
              document.getElementById('basicsModal8-content10').innerHTML =
                marked('<hr />*Compartments and operating within "narrow domestic walls", encourages detachment from solutions, enforcement of analytical solutions independent of experience ("if people don&#x27;t follow ideal process we’ve developed without consulting them, we should penalize them"), the belief that organizations and systems are analogous to machines or precise assembly lines, and that there is a perfect ideal available beyond the current reality.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal8-content11"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal8-content11').innerHTML =
                marked('And as the limitations of the solution become apparent, the resulting system’s lifecycle is a series of life-long patches, none of which produce wholesome results. Creating new systems with the same rationality only result similar systems built with newer technology.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal8-content12">
            </div>
            <script>
              document.getElementById('basicsModal8-content12').innerHTML =
                marked('<hr />*An example of a simple solution for complex experiences are Key Performance Indicators (KPIs), which sometimes lead to "meaningless metrics".*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="#" data-content="#basicsModal7" class="load-different-content">
            <em>Of experience and analysis</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="#" data-content="#basicsModal9" class="load-different-content">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>Experience before analysis</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>