<div class="basics-modal modal fade" id="basicsModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/of-experience-and-analysis-header.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Of experience and analysis</div>
            <div class="intro-lead-in">How we understand experience through analysis and frameworks.</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content1"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content1').innerHTML =
                marked('We experience things, and we try and represent them through analysis. Our experiences have an intangible nature, and the analysis we do must be able to represent, translate, and interpret our experiences accurately.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content2">
            </div>
            <script>
              document.getElementById('basicsModal7-content2').innerHTML =
                marked('<hr />*Current experiences are the result of our interactions with other things within our environments. The methods we use for analysis are often based on past experience, either that of ours or of others, in being able to effectively reflect and solve current experience. Given the limitations of varying perception, our ability to represent experience accurately, and the limitations of language, experiences as we experience them can never be truly experienced by another.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content3"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content3').innerHTML =
                marked('To understand experiences, we listen to stories, which are derived from experience.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content4">
            </div>
            <script>
              document.getElementById('basicsModal7-content4').innerHTML =
                marked('<hr />*The most stable means of communicating experiences known to us are stories, a tradition that is several thousand years old, and perhaps as old as humanity itself.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content5"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-3.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content5').innerHTML =
                marked('And through these stories we can structure our analysis.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content6">
            </div>
            <script>
              document.getElementById('basicsModal7-content6').innerHTML =
                marked('<hr />*Listening to different stories from different perspectives of the similar experiences in similar spaces helps provide the basis for the analysis we must do. As the analysis, and the conclusions from that analysis, is based on our selection of stories, it is important to get a broad coverage of the stories from different perspectives.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content7"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-4.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content7').innerHTML =
                marked('To help us do our analysis, we often resort to using precedents. These precedents are often in the form of examples.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content8">
            </div>
            <script>
              document.getElementById('basicsModal7-content8').innerHTML =
                marked('<hr />*Assuming we have some understanding of the problems within a particular space, chances are someone else has done similar work with similar problems in the past. Our work is often built on the shoulders of giants before us, and modern media such as the internet has made it increasingly possible to search for similar analysis, which we then use as examples for our own analysis.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content9"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-5.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content9').innerHTML =
                marked('Sometimes, examples do not necessarily solve the complexity we are asked analyze, so we resort to using frameworks.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content10">
            </div>
            <script>
              document.getElementById('basicsModal7-content10').innerHTML =
                marked('<hr />*Sometimes the examples are too specific to be applicable, and this is when we seek frameworks and guidance that are broadly applicable to a set of problems, from which we can structure and derive our analysis. Yet there must be some caution with which we find other examples and applicable frameworks.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal7-content11"></div>
            <p class="text-center"><img src="images/of-experience-and-analysis-6.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal7-content11').innerHTML =
                marked('A challenge we constantly face is to decide how we should balance the amount of experience, analysis, and frameworks we should use to design and operate systems.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal7-content12">
            </div>
            <script>
              document.getElementById('basicsModal7-content12').innerHTML =
                marked('<hr />*Experiences are unique, and any frameworks will consider some aspects of experience and ignore others. Yet treating each experience as unique would make it difficult to derive a stable design or system. Designers continuously balance this conflict in their daily work.*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="#" data-content="#basicsModal6" class="load-different-content">
            <em>Embodied Making&#x27;s approach</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="#" data-content="#basicsModal8" class="load-different-content">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>Frameworks before facts</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>