<div class="basics-modal modal fade" id="basicsModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <img src="images/model2-large.jpg" width="100%">
      <div class="container">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="intro-text">
            <hr>
            <div class="intro-heading">Participation, engagement and reflection</div>
            <div class="intro-lead-in">What it means to have a method that is participatory at every level of a complex organization, engaging people across formal and informal roles/spaces, and reflecting on analysis continuously.</div>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal3-content1"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-1.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal3-content1').innerHTML =
                marked('Formal and informal systems within large organizations are built with the perspectives of several individuals. There is a tendency for influential individuals to create a bias within systems in favor. To avoid this, it is important to engage at every level of an organization (if formal levels exist), and assembling an accurate picture of what is required from effective systems. Insights gained through this process of inquiry are key in making organizations efficient and effective.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal3-content2">
            </div>
            <script>
              document.getElementById('basicsModal3-content2').innerHTML =
                marked('<hr />*For instance, consider the features necessary for a new company-wide computer system where your primary stakeholders are from departments representing internal financial administration. It is probable that most functions in this new system would help create stability and efficiency for internal administration but not other tasks.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal3-content3"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-2.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal3-content3').innerHTML =
                marked('When applying embodied making, it important the voices of individuals to find their way into the system design. The best person to teach you about production processes is someone working on the floor every day. This has to be balanced with stakeholders such as organizational leaders, who may have a different perspective the characteristics of an effective system. Cataloging perspectives openly will help create balanced systems that meet the needs of people across the organization.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal3-content4">
            </div>
            <script>
              document.getElementById('basicsModal3-content4').innerHTML =
                marked('<hr />*Examples of some individuals bending the system to create stability for themselves range from system maintainers choosing to make upgrades at times most convenient for themselves but not for the system’s users, or ERP systems that design all work tasks based solely on financial rules, or production systems structured to help management reporting.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="basicsModal3-content5"></div>
            <p class="text-center"><img src="images/participation-engagement-reflection-5.jpg" alt="Participation, engagement and reflection" class="img-responsive" /></p>
            <script>
              document.getElementById('basicsModal3-content5').innerHTML =
                marked(' When a formal mandate exists to design a new system, system designers tend to find themselves overwhelmed with participants who want to influence the system’s design. On the contrary, when no formal charter exists, it becomes quite hard to find individuals willing to engage and provide their insights. In either case, it is best to engage with individuals in small circles, exceeding no more than 2 or 3 individuals for each session (including the designer), and widening circles progressively.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="basicsModal3-content6">
            </div>
            <script>
              document.getElementById('basicsModal3-content6').innerHTML =
                marked('<hr />*If the system has to facilitate tasks performed by a specific group of individuals, involve these individuals in the design process as early as possible. For instance, in order to design an effective point-of-sale system, involve store sales staff who work with the system everyday as they are the most likely group with ideas on how to improve their work.*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" role="navigation">
      <div class="container">
        <div class="pull-right">
          <a href="#" data-content="#basicsModal2" class="load-different-content">
            <em>An applied example</em> <span class="fa fa-chevron-left fa-lg fa-fw"></span></a>
          <span class="fa fa-ellipsis-v fa-lg fa-fw"></span>
          <a href="#" data-content="#" class="load-different-content">
            <span class="fa fa-chevron-right fa-lg fa-fw"></span> <em>On innovation and giving form</em>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>