<div id="the_essence" class="header-page" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');background-position:center center;background-size: cover;">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">404 page</h1>
            <p class="lead shadowtext-1">This page doesn't exist.</p>

        </div>
    </div>
</div>

<div class="darkbg">

    <div class="container wrap">
        <div class="col-xs-12 featurette-left text-light shadowtext-1">
            <div class="col-md-4"><h1 class="text-light shadowtext-1">404 Stories</h1>
                <blockquote>
                    <p><strong>Story:</strong> We make frequent changes to this site, and you've got an outdated link.</p>
                    <p><strong>Story:</strong> You've typed in a link yourself and there's a typo.</p>
                    <p><strong>Story:</strong> There are links on forums and other sites directly to specific Embodied Making content that may not exist anymore.</p>
                </blockquote></div>
            <div class="col-md-4">
                <h1 class="text-light shadowtext-1">404 Forces</h1>
                <blockquote>
                    <p><strong>Force:</strong> Tendency to pass direct links to specific content on the site.</p>
                    <p><strong>Force:</strong>  On rare occasions, visitors type full urls that may be wrong.</p>
                    <p><strong>Force:</strong> Other sites may link to old content that doesn't exist anymore.</p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <h1 class="text-light shadowtext-1">404 Solutions</h1>
                <blockquote>
                    <ul class="fa-ul">
  <li><i class="fa-li fa fa-times"></i><strong> Solution: </strong> Resolve old links to new links (high effort, old content may not correlate to content).</li>
  <li><i class="fa-li fa fa-check"></i><strong> Solution:</strong> Ask visitors to start with the home page.</li>
  <li><i class="fa-li fa fa-check"></i><strong>Solution:</strong> Feel free to contribute your solutions. Please use the contact form on the bottom for it.</li>
</ul>
                </blockquote>
            </div>
            <div class="col-sm-12 featurette-center">
                <h3 class="text-light shadowtext-1"><i class="fa fa-check"></i> Solution: Take me to the homepage </h3>
                <a href="#/">
                    <button type="button" class="btn btn-primary sharp">Take me Home</button>
                </a>
            </div>
        </div>
    </div>
</div>