<div class="header-page">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">Courses</h1>
            <p class="lead shadowtext-1">See what's up next</p>
        </div>
    </div>
</div>

<section id="patterns" rel="Patterns">
  <!--<div class="header">Programs</div>-->
  <div id="page-introduction-wrapper" class="center-block">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="patterns-link">
          <div class="new-course-header">Starting next -> <a href="#foundation-analyst">Embodied MAking Analyst</a></div>
          <div class="infoblock col xs-12 col-sm-6 col-md-4"><p>We offer 4 certification courses that give practicing professionals a foundation for innovation, balancing complexity, and continuous improvement. These courses are for policy makers, consultants, and entrepreneurs who have experience in conventional analytical and business methods, and seek better ways to understand and balance a high scale of complexity. We offer these courses regularly throughout the year in different combinations in specialized streams with additional specialized material. Examples include Continuous Innovation, Agile Enterprise Architecture, and Agile Product Management.</p>
        </div>
        <!--<div class="infoblock col-xs-12 col-sm-6 col-md-8">
          <img class="img-responsive" alt="" src="images/academy.gif">
        </div>-->
        <div class="infoblock-padd col-xs-12 col-sm-2 col-md-2">
          <img class="img-responsive  background-image" alt="" src="images/orange-hexagon.jpg">
          <div class="menu-mainpage">Embodied Making <br>Business <br>Consultant</div>
        </div>
          <div class="infoblock-padd col-xs-12 col-sm-2 col-md-2">
            <img class="img-responsive  background-image" alt="" src="images/orange-hexagon.jpg">
            <div class="menu-mainpage">Embodied Making <br>Enterprise <br>Architect</div>
          </div>
          <div class="infoblock-padd col-xs-12 col-sm-2 col-md-2">
            <img class="img-responsive  background-image" alt="" src="images/orange-hexagon.jpg">
            <div class="menu-mainpage"><a href="#foundation-analyst">Embodied Making <br>Analyst</a></div>
          </div>
          <div class="infoblock-padd col-xs-12 col-sm-2 col-md-2">
            <img class="img-responsive  background-image" alt="" src="images/orange-hexagon.jpg">
            <div class="menu-mainpage">Embodied Making <br>Systems<br>Designer</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="patterns-link">
          <div class="panel-heading">
            <h3 class="panel-title">Agile Enterprise Architecture</h3>
          </div>
          <div class="panel-body">
            Large Enterprises today are struggling to cope with an unprecendented scale of complexity. Business differentiation and  ragmented operation in the past has resulted in a complex application landscape. Lengthy harmonization and rationalization programs often lead to reducing business competitiveness, poor differentiation, and shadow activities. Enterprise Architects often do little more than trying to reflect on an existing situation with gathered data (soon stale after gathering), diagrams (soon outdated after making), and metrics (soon inaccurate and restrictive). How can Enterprise Architecture become Enterprise Architecting, a participatory operational practice with large-scale sense-making and continuous improvement? This course is a rigourous 2 week course with an additional 2 week engaged  certification process.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="patterns-link">
          <div class="panel-heading">
            <h3 class="panel-title">Continuous Inovation</h3>
          </div>
          <div class="panel-body">
            So you have a great idea. Make a business plan with projections about how your idea is going to be realized for a fixed time, budget, and scope. Then get some investment to implement your plan, and then realize your idea exactly as you conceived it. Once you’re done realizing your idea, start making money from it. In reality, it couldn’t be more different. Practioners know that an idea is rarely realized in the form it was originally conceived. How do businesses take the germ of an idea, balance between “high-hanging fruit” (the hard and unique stuff that makes your idea different) and “low-hanging fruit” (the relatively easy stuff that isn’t hard for others to replicate), and realize
            their business models through continuous improvement? Continuous innovation is a 8 day course, with 3 additional
            days for a certification assignment.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="patterns-link">
          <div class="panel-heading">
            <h3 class="panel-title">Agile Product Management</h3>
          </div>
          <div class="panel-body">
            You have only so much money and only so much time, and a whole host of features you need to be competitive in the marketplace? How do you position your product in a crowded marketplace and differentiate yourself from others? What do you develop yourself, and what do you develop with partners? How do you use and contribute to open-source? How do you design and develop features that balance what your users are used to and new user experiences that differentiate you? Most businesses operate in marketplaces saturated with products, and creating market-winning propositions embracing a highscale of complexity. This course provides sense-making structures for complex marketplaces, agile roadmaps, and continuous product improvement over 2 weeks training and a 1 week certification assignment.
          </div>
        </div>
      </div>

    </div>
  </div>