<div id="courses" class="header-page" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');background-position:center center;background-size: cover;">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">Courses</h1>
            <p class="lead shadowtext-1">From practitioner to expert</p>
        </div>
    </div>
</div>


<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="row content-row">
                <div class="col-xs-12 content-block content-card">

                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li><a href="/#/">Home</a>
                            </li>
                            <li class="active">Courses</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-xs-12 textbox">
                        <div class="col-xs-12 col-sm-4"><img style="padding-top:14px" src="/images/system-designer.jpg" width="100%">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>Embodied Making Courses</h4>
                            <p>Embodied Making Academy offers training and certifications to help practitioners formally apply best practices in sensemaking, problemsolving, and solution-weaving. Our sensemaking courses help practitioners become experts in deep listening, storytelling, analyzing common patterns within stories, and deriving the reasons these common patterns occur. Our problem-solving courses build on the sensemaking courses to improve skills on innovating, solution design, and effective solution communications. And the courses in solution-weaving build skills in inter-purposing solutions into coherent structures so they can be used and practiced by very large groups of people. </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="greybg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="row content-row">
                <div class="col-xs-12 text-center">
                    <h2 class="text-light shadowtext-1">Our course selection for practitioners</h2>

                        <br />
                        <br />

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 content-block">
                    <div class="content-card">
                        <div class="textbox">
                            <h4>Embodied Making Analyst</h4>
                        </div>
                        <div>
                            <img src="/images/embodiedmaking-team.jpg" width="100%">
                        </div>
                        <div class="textbox"><strong>3 day course</strong> introducing Embodied Making covering all of the basics and prepares practitioners for applying Embodied Making in any environment.</div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 content-block">
                    <div class="content-card">
                        <div class="textbox">
                            <h4>Embodied Making Business Consultant</h4>
                        </div>
                        <div>
                            <img src="/images/business-consultant.jpg" width="100%">
                        </div>
                        <div class="textbox"><strong>5 day course and certification assignment</strong> applying Embodied Making in taking the germ of an idea, balance them and realize their business models through continuous.</div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 content-block">
                    <div class="content-card">
                        <div class="textbox">
                            <h4>Embodied Making Systems Designer</h4>
                        </div>
                        <div>
                            <img src="/images/system-designer.jpg" width="100%">
                        </div>
                        <div class="textbox"><strong>5 day course and certification assignment</strong> that provides sensemaking structures for complex marketplaces, agile roadmaps, and continuous product improvement.</div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 content-block">
                    <div class="content-card">
                        <div class="textbox">
                            <h4>Embodied Making Enterprise Architect</h4>
                        </div>
                        <div>
                            <img src="/images/enterprise-architect.jpg" width="100%">
                        </div>
                        <div class="textbox"><strong>2 x 5 day course and certification assignment. </strong> A participatory operational practice with large-scale sense-making and continuous improvement.
                            <br />
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="text-center">
      <a href="#/contact"><button type="button" class="btn btn-primary sharp">Contact us for course info</button></a>
        <br />
    </div>
</div>

<div class="container wrap">
    <div class="row feature-row">
        <div class="col-xs-12">
            <div class="featurette-center">
                <h2 class="center">Overview of our courses</h2>

            </div>
            <hr>
            <div class="col-xs-12 col-md-4"><h3>Agile Enterprise Architecture</h3><p>
Large Enterprises today are struggling to cope with an unprecendented scale of complexity. Business differentiation and fragmented operations in the past have resulted in a complex application landscape. Lengthy harmonization and rationalization programs often lead to reducing business competitiveness, poor differentiation, and shadow activities. Enterprise Architects often do little more than trying to reflect on an existing situation with gathered data (soon stale after gathering), diagrams (soon outdated after making), and metrics (soon inaccurate and restrictive). How can Enterprise Architecture become Enterprise Architecting, a participatory operational practice with large-scale sense-making and continuous improvement? This course is a rigourous 2 week course with an additional 2 week engaged certification process.</p></div>

             <div class="col-xs-12 col-md-4"><h3>Continuous Innovation</h3><p>So you have a great idea. Make a business plan with projections about how your idea is going to be realized for a fixed time, budget, and scope. Then get some investment to implement your plan, and then realize your idea exactly as you conceived it. Once you’re done realizing your idea, start making money from it. In reality, it couldn’t be more different. Practioners know that an idea is rarely realized in the form it was originally conceived. How do businesses take the germ of an idea, balance between “high-hanging fruit” (the hard and unique stuff that makes your idea different) and “low-hanging fruit” (the relatively easy stuff that isn’t hard for others to replicate), and realize their business models through continuous improvement? Continuous innovation is a 8 day course, with 3 additional days for a certification assignment.</p></div>

             <div class="col-xs-12 col-md-4"><h3>Agile Product Management</h3><p>You have only so much money and only so much time, and a whole host of features you need to be competitive in the marketplace? How do you position your product in a crowded marketplace and differentiate yourself from others? What do you develop yourself, and what do you develop with partners? How do you use and contribute to open-source? How do you design and develop features that balance what your users are used to and new user experiences that differentiate you? Most businesses operate in marketplaces saturated with products, and creating market-winning propositions embracing a highscale of complexity. This course provides sense-making structures for complex marketplaces, agile roadmaps, and continuous product improvement over 2 weeks training and a 1 week certification assignment.</p>
            </div>
        </div>
    </div>
</div>


<div class="featurette-image" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');background-position:center center;background-size: cover;">
    <div class="container">
        <div class="col-xs-12 content-block">
            <div class="portfolio-card">
                <div class="row textbox">
                    <div class="col-xs-3"><img src="/images/embodiedmaking-team.jpg" width="100%">
                    </div>
                    <div class="col-xs-9">Upcoming course
                        <h4>Embodied Making Analyst</h4><p>3 day course introducing Embodied Making covering all of the basics and prepares practitioners for applying Embodied Making in any environment... <strong>learn more</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="col-sm-12 featurette-center">
                <h2 class="text-light shadowtext-1">What certifications can you get?</h2>
                <a href="/#/certifications#certifications">
                    <button type="button" class="btn btn-primary sharp">Read more</button>
                </a>
            </div>

        </div>
    </div>
</div>
