<div class="row no-gutters full-height">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div id="interactions-list" class="white-background full-height right-box-shadow">
            <tabset>
                <tab heading="Interactions">
                    <div class="interactions-list-entry">
                        <p>Some interaction</p>
                    </div>
                    <div class="interactions-list-entry">
                        <p>Some interaction 2</p>
                    </div>
                    <div class="interactions-list-entry">
                        <p>Some interaction 3</p>
                    </div>
                    <div class="interactions-list-entry">
                        <p>Some interaction 4</p>
                    </div>
                </tab>
                <tab heading="People">
                    <div class="people-list-entry">
                        <p>Person 1</p>
                    </div>
                    <div class="people-list-entry">
                        <p>Person 2</p>
                    </div>
                    <div class="people-list-entry">
                        <p>Person 3</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div id="interaction-details" class="white-background full-height right-box-shadow hidden">
            <p>Here will be the details of each opened interaction</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        &nbsp;
    </div>
</div>