<div class="header-big">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-4 text-right ">
            <h1 class="title-light shadowtext-1">Embodied Making</h1>
            <p class="lead shadowtext-1">“Sensemaking and problem-solving for complex situations”</p>
            <button type="button" class="btn btn-primary sharp">Learn the Basics</button>

        </div>
    </div>
</div>
<div class="col-sm-10 col-sm-offset-1">
    <div class="row content-row">
        <div class="col-xs-6 col-md-3 content-block">
            <div class="content-card">rtnrtnrtn</div>
        </div>
        <div class="col-xs-6 col-md-3 content-block">
            <div class="content-card">fbsfbb</div>
        </div>
        <div class="col-xs-6 col-md-3 content-block">
            <div class="content-card">rtnrtnstrnrtn</div>
        </div>
        <div class="col-xs-6 col-md-3 content-block">
            <div class="content-card">rtnrtnrtn</div>
        </div>
    </div>
</div>