<div class="header-big">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">Embodied Making</h1>
            <p class="lead shadowtext-1">“Sensemaking and problem-solving for complex situations”</p>
            <button type="button" class="btn btn-primary sharp">Learn the Basics</button>

        </div>
    </div>
</div>

<div class="darkbg">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row content-row">
            <div class="col-xs-6 col-md-3 content-block">
                <div class="content-card">
                    <div class="textbox">Next course: Jan 8
                        <h4>Embodied Making Analyst</h4>
                    </div>
                    <div>
                        <img src="/images/embodiedmaking-team.jpg" width="100%">
                    </div>
                    <div class="textbox"><strong>3 day course</strong> introducing Embodied Making covering all of the basics and prepares practitioners for applying Embodied Making in any environment.</div>
                    <button type="button" class="btn btn-info btn-block sharp">Join Waitlist</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 content-block">
                <div class="content-card">
                    <div class="textbox">Upcoming: Feb 5
                        <h4>Embodied Making Business Consultant</h4>
                    </div>
                    <div>
                        <img src="/images/business-consultant.jpg" width="100%">
                    </div>
                    <div class="textbox"><strong>5 day course and certification assignment</strong> applying Embodied Making in taking the germ of an idea, balance them and realize their business models through continuous.</div>
                    <button type="button" class="btn btn-dark btn-block sharp">Learn more</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 content-block">
                <div class="content-card">
                    <div class="textbox">Upcoming: Mar 4
                        <h4>Embodied Making Systems Designer</h4>
                    </div>
                    <div>
                        <img src="/images/system-designer.jpg" width="100%">
                    </div>
                    <div class="textbox"><strong>5 day course and certification assignment</strong> that provides sensemaking structures for complex marketplaces, agile roadmaps, and continuous product improvement.</div>
                    <button type="button" class="btn btn-dark btn-block sharp">Learn more</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 content-block">
                <div class="content-card">
                    <div class="textbox">Upcoming: Apr 1
                        <h4>Embodied Making Enterprise Architect</h4>
                    </div>
                    <div>
                        <img src="/images/enterprise-architect.jpg" width="100%">
                    </div>
                    <div class="textbox"><strong>2 x 5 day course and certification assignment. </strong> A participatory operational practice with large-scale sense-making and continuous improvement.
                        <br />
                    </div>
                    <button type="button" class="btn btn-dark btn-block sharp">Learn more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-sm-push-6 col-md-4 col-md-push-8 featurette-image">
                <img src="/images/certificates.png" width="100%">
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4 featurette-right">
                <h2 class="text-light shadowtext-1">Embodied Making Certification</h2>
                <p class="text-light shadowtext-1">We offer 4 certification courses that give practicing professionals a foundation for innovation, balancing complexity, and continuous improvement. </p>
                <button type="button" class="btn btn-primary sharp">Overview</button>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="featurette-center">
                <h2 class="center">Embodied Making in practice</h2>
                <p class="center">The method used for solving complex problems in business ventures, organizational structure and work culture sustainability.</p>
            </div>
            <div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Basic Example
                            <h4>The Meeting Room</h4>
                        </div>
                        <div>
                            <img src="/images/meeting-room.jpg" width="100%">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Business case
                            <h4>Is your brand driven by the people that drive your cars?</h4>
                        </div>
                        <div>
                            <img src="/images/collaboration-elements-car.jpg" width="100%">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Business case
                            <h4>Workspaces for me, we and the many</h4>
                        </div>
                        <div>
                            <img src="/images/workspace-management.jpg" width="100%">
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Patternlanguage
                            <h4>Agile Software Product Management</h4>
                        </div>
                        <div>
                            <img src="/images/agile-software-product-management.jpg" width="100%">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Patternlanguage
                            <h4>Telecom Operators as trusted Lifestyle Facilitators</h4>
                        </div>
                        <div>
                            <img src="/images/telecom.jpg" width="100%">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 content-block">
                    <div class="portfolio-card">
                        <div class="textbox">Business case
                            <h4>Can packaging serve a function beyond waste?</h4>
                        </div>
                        <div>
                            <img src="/images/plastic-waste.jpg" width="100%">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>