<div class="header-page">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">Examples</h1>
            <p class="lead shadowtext-1">A few examples of applied Embodied Making</p>
        </div>
    </div>
</div>

<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="row content-row">
                <div class="col-xs-12 content-block content-card">

                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li><a href="/#/">Home</a>
                            </li>
                            <li class="active">Examples</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-xs-12 textbox">
                        <h4>Understand Embodied Making through an example</h4>
                        <p>Stories should be gathered from several perspectives. In the example of the meeting room, stories from the users of meeting rooms, building security, receptionists, moderators of meetings, visitors of the building who come for a meeting, maintenance staff, or cleaning staff will help create a rich tapestry as the basis of designs. As we catalog more and more stories from different perspectives, more and more forces will emerge. The objective of enumerating forces isn’t to try and find as many forces as possible. In order to give designers a feeling of the space where their designs will live and rest, the objective is to capture an adequate number of forces for reflection. Understanding the interactions between forces helps designers live and experience them.</p>
                        <p>For each interaction, try and imagine situations where those interactions between forces would occur. By thinking about each interaction, you will increasingly understand how all of these forces co-exist in the same space. Understanding the complex interactions has a meditative quality, and after while, a feeling of “living” the forces occurs for the designer. Throughout this process, the personal goals and objectives of the designer or designers should be explicitly stated as wills. Interactions between wills and forces reveal their conduciveness to exist in the same space. As we think about the forces, and the interactions between forces, ideas will flow on how to resolve them. Each idea should be written down as a solution component, examining how it helps resolves the immediate forces we have considered, and all the forces that emerge afterwards.</p>
                        <p>There is no fixed sequence on writing any of them down. In this example, we want to create compassion and empathy, and we can achieve this by finding analogies or metaphors that inspire those emotions. As there is a natural tendency for human beings to care for their pets, associating the keys to animals transfers some of this care to the keys. Animals should be selected for the vulnerability, and a connection to the planet can be found through featuring endangered animals. By introducing gameplay at the key moments when keys are the most likely to go missing, moments susceptible to mishap can be averted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featurette-center">
    <h2 class="center">The Meetingroom Example</h2>
    <p class="center">A short example to understand de basics</p>
    <hr>
</div>
<div class="featurette-left">
    <div class="container">
        <div class="col-xs-12 content-block">

            <div class="row textbox">
                <div class="col-xs-12 col-sm-5"><img src="/images/meetingroom-key.jpg" width="100%">
                </div>
                <div class="col-xs-12 col-sm-7">
                    <h4>1. Collecting the stories</h4>
                    <p>The process of design with embodied making starts with listening to people in the space where we want our designs to live and rest. Stories are anecdotes as people relate them to us, and these are faithfully recorded as they are told to us.
                    </p>
                    <br />
                    <h4>Example Stories:</h4>
                    <hr>

                    <h4>Story 1</h4>
                    <blockquote style="font-style:italic">“We share 10 meeting rooms, usually named after people to identify them, between 300 people, and the meeting rooms need to be kept locked.”</blockquote>
                    <hr>
                    <h4>Story 2</h4>
                    <blockquote style="font-style:italic">“The receptionist helps book the room, and room users pick up the key, and usually drop it back.”</blockquote>
                    <hr>
                    <h4>Story 3</h4>
                    <blockquote style="font-style:italic">“Although people are supposed to pick up and drop off the key with me, they rarely do. I have to run around and try and trace where the keys are.”</blockquote>
                    <hr>
                    <h4>Story 4</h4>
                    <blockquote style="font-style:italic">“I often have back-to-back meetings, and I don’t always have time to return the key.”</blockquote>
                    <hr>
                    <h4>Story 5</h4>
                    <blockquote style="font-style:italic">“We lose keys to meeting rooms all the time and have to replace all the locks 3 or 4 times a year.”</blockquote>
                    <hr>
                    <h4>Story 6</h4>
                    <blockquote style="font-style:italic">“We need presentation equipment for meetings.”</blockquote>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="featurette-right">
    <div class="container">
        <div class="col-xs-12 content-block">

            <div class="row textbox" style="text-align:left">
                <div class="col-xs-12 col-sm-7">
                    <h4>2. Extracting the Forces</h4>
                    <p>What induces people to behave in the way they do in their environments? Or motivates them to decide on a particular course of action? These factors are called forces in embodied making. We can identify some of these forces from the stories:
                    </p>
                    <hr>

                    <h4>Story 1</h4>
                    <blockquote style="font-style:italic">
                        <p>F01. Meeting rooms are shared by a lot of people.
                            <br />F02. Meeting rooms contain expensive equipment.
                            <br />F03. Desire to protect equipment in meeting rooms.
                            <br />F04. Limited number of meeting rooms.</p>
                    </blockquote>
                    <hr>
                    <h4>Story 2</h4>
                    <blockquote style="font-style:italic">
                        <p>F05. Meeting rooms are booked with a single point.
                            <br />F06. Desire to pick up meeting room keys in 1 place.
                            <br />F07. Desire to return keys in 1 place.
                        </p>
                    </blockquote>
                    <hr>
                    <h4>Story 3</h4>
                    <blockquote style="font-style:italic">
                        <p>F08. Tendency for people to not return keys.
                            <br />F09. Difficulty in tracking down unreturned keys.
                        </p>
                    </blockquote>
                    <hr>
                    <h4>Story 4</h4>
                    <blockquote style="font-style:italic">
                        <p>F10. Individuals have several meetings without gaps.
                            <br />F11. Returning keys is often inconvenient.
                        </p>
                    </blockquote>
                    <hr>
                    <h4>Story 5</h4>
                    <blockquote style="font-style:italic">
                        <p>F12. Frequent loss of meeting room keys.
                            <br />F13. Inability to distinguish keys of meeting rooms.
                        </p>
                    </blockquote>
                    <hr>
                    <h4>Story 6</h4>
                    <blockquote style="font-style:italic">
                        <p>F14. Use of high-quality equipment in meetings.
                        </p>
                    </blockquote>
                    <hr>
                </div>
                <div class="col-xs-12 col-sm-5"><img src="/images/embodiedmaking-lost-keys.jpg" width="100%">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="featurette-left">
    <div class="container">
        <div class="col-xs-12 content-block">

            <div class="row textbox">
                <div class="col-xs-12 col-sm-5"><img src="/images/balancing-forces.jpg" width="100%">
                </div>
                <div class="col-xs-12 col-sm-7">
                    <h4>3. Analyze Force Interaction</h4>
                    <p>If we are able to find an elegant solution that is both stable and reliable, and this solution would be able to balance all of these forces (let’s assume for now that these stories and forces are complete), we would have created a system that would fulfill the requirements of sharing meeting rooms effectively. We can gain insight into how these forces exist in their environments by exploring how they interact with each other, by placing a (+) sign for a pleasant experience, a (-) sign for an unpleasant experience, and (~) for a neutral experience.
                    </p>

                    <hr>

                    <blockquote style="font-style:italic">
                        <p>F01 :: -F03, -F04, +F05, +F06, +F07, -F08, -F09, -F10, -F12, -F13</p>
                        <p>F02 :: -F03, -F08, -F09, -F12, -F13 </p>
                        <p>F03 :: -F01, -F02, +F04, +F05, -F08, -F09, -F11, -F12, -F14 </p>
                        <p>F04 :: -F01, F02, +F03, -F08, -F09, -F10, -F11, -F12, -F13</p>
                        <p>F05 :: +F01, +F06, +F07, -F08, -F09, -F10, -F11, -F12, -F13 and so on and so forth for F06 to F09 </p>
                        <p>F10 :: -F01, -F04, +F05, -F11, -F12, -F13 </p>
                        <p>F11 :: -F01, -F02, -F03, -F04, -F05, -F06, -F07, +F10, -F13 </p>
                        <p>F13 :: -F01, -F02, -F05, -F06, -F07, -F08, -F09, -F11, -F12</p>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="featurette-right">
    <div class="container">
        <div class="col-xs-12 content-block">

            <div class="row textbox" style="text-align:left">
                <div class="col-xs-12 col-sm-7">
                    <h4>4. Desire vs. Forces</h4>
                    <p>As designers, we must also be conscious of our own will, and that our involvement in the design process, and the systems we realize from those designs, actively transform the environment.
                    </p>

                    <blockquote style="font-style:italic">
                        <p>W01. Desire for low cost solutions</p>
                        <p>W02. Desire not to inconvenience meeting room users. </p>
                        <p>W03. Desire to keep organizational culture intact. </p>
                        <p>W04. Desire to make meeting room usage fun. </p>
                        <p>W05. Desire to use of common locks and keys. </p>
                    </blockquote>
                    <hr>
                    <p>There is no clear or sharp distinction between wills and forces. They come from two directions. Wills comes from self awareness of the designer or requirements of the patron, and forces come from observation of patterns of behavior, culture, or nature in the design environment. By integrating the perspectives of wills and forces, designers can propose solutions that ‘work’.</p>
                </div>
                <div class="col-xs-12 col-sm-5"><img src="/images/desire.jpg" width="100%">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="featurette-image">
    <div class="container">
        <div class="col-xs-12 content-block">
            <div class="row textbox">
                <div class="col-xs-12 col-sm-6">
                    <h4>5. Solutions that Resolve Forces</h4>
                    <p>An understanding of the forces and wills gives insight into the solutions that would be most likely to resolve them.
                    </p><img src="/images/solution-resolve-forces.jpg" width="100%">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>6. Giving shape to the most relevant solutions</h4><img src="/images/shape-solutions.jpg" width="100%">
                </div>
            </div>

        </div>
    </div>
</div>
<hr>