<section id="patterns" rel="Patterns">
  <div id="page-introduction-wrapper" class="center-block">
    <header>
      <ol class="breadcrumb">
        <li><a href="">Method</a></li>
        <li active>Meeting Room Example</li>
      </ol>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 post-heading">
            <h2 id="basics">The Meeting Room Example</h2>
            <hr>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!--<button type="button" class="btn btn-success alignright" data-toggle="modal" data-target="#registertoview"style="float:right";>OPEN FULL BOOK</button>
  Modal
  <div id="registertoview" class="modal fade" role="dialog">
    <div class="modal-dialog">
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Embodied Making Book</h4>
        </div>
        <div class="modal-body">
          <p>Please LOGIN or REGISTER in order to view the full content of the book.</p>
          <form role="form">
            <div class="form-group">
              <h2><label for="email">Email address:</label></h2>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <h2><label for="pwd">Password:</label></h2>
              <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
              <p><label><input type="checkbox"> Remember me</label><p>
            </div>
            <p><button type="submit" class="btn btn-default">Login</button><p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
          <!--<div class= "col-xs-12 col-sm-12 col-md-12 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="pdf/MeetingRoomExample.pdf"></iframe>
          </div>-->
          <div class="row">
            <div class="container">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="patterns-link">
                  <div class="pannel-body infoblock">
                    The process of design with embodied making starts with
                    listening to people in the space where we want our designs
                    to live and rest. Stories are anecdotes as people relate them
                    to us, and these are faithfully recorded as they are told to us.<br>
                    <br><span class="numbering">1</span>
                    <span class="forces">“We share 10 meeting rooms, usually named after people to identify them, between 300 people, and the meeting rooms need to be kept locked.”</span><br>
                    <br><span class="numbering">2</span>
                    <span class="forces">“The receptionist helps book the room, and room users
                    pick up the key, and usually drop it back.”</span><br>
                    <br><span class="numbering">3</span>
                    <span class="forces">“Although people are supposed to pick up and drop
                      off the key with me, they rarely do. I have to run
                    around and try and trace where the keys are.”</span><br>
                    <br><span class="numbering">4</span>
                    <span class="forces">“I often have back-to-back meetings, and I don’t
                    always have time to return the key.”</span><br>
                    <br><span class="numbering">5</span>
                    <span class="forces">“We lose keys to meeting rooms all the time and have
                    to replace all the locks 3 or 4 times a year.”</span><br>
                    <br><span class="numbering">6</span>
                    <span class="forces">“We need presentation equipment for meetings.”</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="patterns-link">
                  <div class="pannel-body infoblock">
                    What induces people to behave in the way they do in their environments? Or motivates them to decide on a particular course of action? These factors are called forces in embodied making. We can identify some of these forces from the stories:<br>
                    <br><span class="numbering">1</span>
                    <span class="forces">F01. Meeting rooms are shared by a lot of people.</span>
                    <br><span class="forces">F02. Meeting rooms contain expensive equipment.</span>
                    <br><span class="forces">F03. Desire to protect equipment in meeting rooms.</span>
                    <br><span class="forces"> F04. Limited number of meeting rooms.</span><br>
                    <br><span class="numbering">2</span>
                    <span class="forces">F05. Meeting rooms are booked with a single point.</span>
                    <br><span class="forces">F06. Desire to pick up meeting room keys in 1 place.</span>
                    <br><span class="forces">F07. Desire to return keys in 1 place.</span><br>
                    <br><span class="numbering">3</span>
                    <span class="forces">F08. Tendency for people to not return keys.</span>
                    <br><span class="forces">F09. Difficulty in tracking down unreturned keys.</span><br>
                    <br><span class="numbering">4</span>
                    <span class="forces">F10. Individuals have several meetings without gaps.</span>
                    <br><span class="forces">F11. Returning keys is often inconvenient.</span><br>
                    <br><span class="numbering">5</span>
                    <span class="forces">F12. Frequent loss of meeting room keys.</span>
                    <br><span class="forces">F13. Inability to distinguish keys of meeting rooms.</span><br>
                    <br><span class="numbering">6</span>
                    <span class="forces">F14. Use of high-quality equipment in meetings.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>