<div class="header-page">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">Embodied Making</h1>
            <p class="lead shadowtext-1">“Sensemaking and problem-solving for complex situations”</p>
            <button type="button" class="btn btn-primary sharp">Learn the Basics</button>

        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-sm-push-6 col-md-4 col-md-push-8 featurette-image">
                <img src="/images/certificates.png" width="100%">
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4 featurette-right">
                <h2 class="text-light shadowtext-1">Embodied Making Certification</h2>
                <p class="text-light shadowtext-1">We offer 4 certification courses that give practicing professionals a foundation for innovation, balancing complexity, and continuous improvement. </p>
                <button type="button" class="btn btn-primary sharp">Overview</button>

            </div>
        </div>
    </div>