<div id="the_basics" class="header-page" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');background-position:center center;background-size: cover;">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">The Basics</h1>
            <p class="lead shadowtext-1">Short introduction to Embodied Making</p>
        </div>
    </div>
</div>

<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="row content-row">
                <div class="col-xs-12 content-block content-card">

                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li><a href="/#/">Home</a>
                            </li>
                            <li class="active">The Basics</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-sm-4 textbox">
                        <h4>What is it?</h4>
                        <p>Embodied Making is a sensemaking and problem-solving method for complex situations. It uses stories of the people in those situations to understand their experiences. Forces, or the reasons those situations occur, are derived from stories or directly from experience. The forces are balanced and resolved by solutions. The entirety of solutions are inter-purposed through patterns.</p>
                    </div>
                    <div class="col-sm-4 textbox">
                        <h4>Who can use it?</h4>
                        <p>Embodied Making can be used by everyone. We all read and tell stories. We constantly have to resolve the forces created by others and by ourselves. We all live with the solutions of modern society around us, ranging from public transport systems to coffee machines. We all need to sense of the complexity around us, and be sure that our choices are balancing the forces around us.</p>
                    </div>
                    <div class="col-sm-4 textbox">
                        <h4>When to use it?</h4>
                        <p>You are probably using the elements of Embodied Making at some level in making decisions in your everyday life. You can use it for relatively simple tasks like choosing the destination of your next holiday, furnishing an office, or arranging a shop. And you can use it for relatively complex tasks like building software systems, urban planning, or structuring telecommunications infrastructure.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container wrap">
    <div class="row feature-row">
        <div class="col-xs-12">
            <div class="featurette-center">
                <h2 class="center">Introduction to the method</h2>
                <p class="center">Embodied Making isn’t understood in a few steps but has to be embodied by the entity who applies it.</p>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>1. Problems</h4>
                                <p>You probably encounter any number of problems everyday. Some are easy to solve. Others are more complex.</p>

                            </div>
                            <div>
                                <img src="images/block1.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>2. The right solutions?</h4>
                                <p>How can you be sure that the solutions you select will solve these problems and not make them worse?</p>

                            </div>
                            <div>
                                <img src="images/block2.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>3. Problem > Solution?</h4>
                                <p>Most problem-solving methods work in steps. Understand the problem. Think about the problem. Think of solutions.</p>

                            </div>
                            <div>
                                <img src="images/block3.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>4. Complete complexity</h4>
                                <p>By separating thinking and doing, solutions are made without understanding or experiencing the complete complexity.</p>

                            </div>
                            <div>
                                <img src="images/block4.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>5. Thinking AND doing</h4>
                                <p>Embodied Making is thinking and doing simultaneously, making sense of complexity through action and reflection.</p>

                            </div>
                            <div>
                                <img src="images/block5.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>6. Understand experiences</h4>
                                <p>Making sense of an environment requires understanding the unique experiences of different individuals in that environment.</p>

                            </div>
                            <div>
                                <img src="images/block6.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>7. Understand with stories</h4>
                                <p>The most reliable method of understanding experiences is with stories of unique individuals, avoiding archetypal anecdotes.</p>

                            </div>
                            <div>
                                <img src="images/block7.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>8. Unique experiences</h4>
                                <p>Well-told stories help understand the unique experiences of others almost as if we’re experiencing it ourselves.</p>

                            </div>
                            <div>
                                <img src="images/block8.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>9. Uncover forces</h4>
                                <p>Stories of individual experiences uncover forces, which are any reason many individuals have similar experiences.</p>

                            </div>
                            <div>
                                <img src="images/block9.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>10. Rationalize forces</h4>
                                <p>Some forces can be rationalized, and others like emotions, which also motivate choices, are harder to rationalize.</p>

                            </div>
                            <div>
                                <img src="images/block10.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>11. Treat forces equally</h4>
                                <p>Forces become less or more important in different situations. Forces are treated equally to prevent bias for some situations.</p>

                            </div>
                            <div>
                                <img src="images/block11.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>12. Don't ignore or prioritize</h4>
                                <p>Understanding how many forces act on each other can be difficult, but Embodied Making does not ignore or prioritize forces.</p>

                            </div>
                            <div>
                                <img src="images/block12.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>13. We do it all the time</h4>
                                <p>We are able to resolve the complexity of several forces simultaneously when raising children or walking in a busy city.</p>

                            </div>
                            <div>
                                <img src="images/block13.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>14. Feel and balance</h4>
                                <p>Embodied Making is a contemplative method to feel and balance the effect of several forces simultaneously.</p>

                            </div>
                            <div>
                                <img src="images/block14.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>15. Improving solutions</h4>
                                <p>By feeling how forces act together, solutions are progressively improved by balancing trade-offs between forces.</p>

                            </div>
                            <div>
                                <img src="images/block15.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>16. Solutions</h4>
                                <p>Solutions can resolve (+), conflict (-), or neither resolve nor conflict (~) with forces.</p>

                            </div>
                            <div>
                                <img src="images/block16.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>17. Frameworks</h4>
                                <p>Frameworks can be applied to structure solutions. Applied too early, they limit the scale of insights and serendipity.</p>

                            </div>
                            <div>
                                <img src="images/block17.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>18. Refine</h4>
                                <p>Frameworks can be used to refine solutions, and good solutions can be used to refine frameworks.</p>

                            </div>
                            <div>
                                <img src="images/block18.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>19. Solutions co-exist</h4>
                                <p>It isn’t usually a single solution that solves complex situations, but several solutions that co-exist with each other.</p>

                            </div>
                            <div>
                                <img src="images/block19.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>20. Solution structure</h4>
                                <p>Solutions must be self-sustaining while complementing other solutions, creating an inter-purposed solution structure.</p>

                            </div>
                            <div>
                                <img src="images/block20.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>21. Patterns</h4>
                                <p>Patterns are reusable solutions that can selectively applied to create many solution variations and yet have a common quality.</p>

                            </div>
                            <div>
                                <img src="images/block21.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>22. Solutions for everything</h4>
                                <p>Embodied Making can be used to make almost any solution, such as a computer system, building layout, or city plan.</p>

                            </div>
                            <div>
                                <img src="images/block22.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>23. Solutions can grow</h4>
                                <p>By recursively using stories, forces, and solutions, practitioners can build adaptive solutions that grow as they learn.</p>

                            </div>
                            <div>
                                <img src="images/block23.gif" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 content-block">
                        <div class="portfolio-card">
                            <div class="textbox">
                                <h4>24. Start using it</h4>
                                <p>The best way to learn about Embodied Making is by using it with an embodied attitude.</p>

                            </div>
                            <div>
                                <img src="images/block24.gif" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="col-sm-12 featurette-center">
                <h2 class="text-light shadowtext-1">Embodied Making Example</h2>
                <a href="/#/meetingroom#meetingroom">
                    <button type="button" class="btn btn-primary sharp">Read more</button>
                </a>
            </div>

        </div>
    </div>
</div>

