<section id="patterns" rel="Patterns">
<div class="header">METHOD</div>
<div id="page-introduction-wrapper" class="center-block">
<header>
    <div class="container">
     <div class="row">
        <div class="col-xs-12 post-heading">
        <h2 id="basics">The Basics</h2>
        <hr>
        </div>
    </div>
    </div>
</header>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block1.gif">
<div class="infoblock">
<p>You probably encounter any number of problems everyday. Some are easy to solve. Others are more complex. </p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block2.gif">
<div class="infoblock">
<p>How can you be sure that the solutions you select will solve these problems and not make them worse? </p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block3.gif">
<div class="infoblock">
<p>Most problem-solving methods work in steps. Understand the problem. Think about the problem. Think of solutions. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block4.gif">
<div class="infoblock">
<p>By separating thinking and doing, solutions are made without understanding or experiencing the complete complexity. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block5.gif">
<div class="infoblock">
<p>Embodied Making is thinking and doing simultaneously, making sense of complexity through action and reflection. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block6.gif">
<div class="infoblock">
<p>Making sense of an environment requires understanding the unique experiences of different individuals in that environment. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block7.gif">
<div class="infoblock">
<p>The most reliable method of understanding experiences is with stories of unique individuals, avoiding archetypal anecdotes. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block8.gif">
<div class="infoblock">
<p>Well-told stories help understand the unique experiences of others almost as if we’re experiencing it ourselves. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block9.gif">
<div class="infoblock">
<p>Stories of individual experiences uncover forces, which are any reason many individuals have similar experiences </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block10.gif">
<div class="infoblock">
<p>Some forces can be rationalized, and others like emotions, which also motivate choices, are harder to rationalize. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block11.gif">
<div class="infoblock">
<p>Forces become less or more important in different situations. Forces are treated equally to prevent bias for some situations. </p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block12.gif">
<div class="infoblock">
<p>Understanding how many forces act on each other can be difficult, but Embodied Making does not ignore or prioritize forces. </p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block13.gif">
<div class="infoblock">
<p>We are able to resolve the complexity of several forces simultaneously when raising children or walking in a busy city. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block14.gif">
<div class="infoblock">
<p>Embodied Making is a contemplative method to feel and balance the effect of several forces simultaneously. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block15.gif">
<div class="infoblock">
<p>By feeling how of forces act together, solutions are progressively improved by balancing trade-offs between forces. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block16.gif">
<div class="infoblock">
<p>Solutions can resolve (+), conflict (-), or neither resolve nor conflict (~) with forces. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block17.gif">
<div class="infoblock">
<p>Frameworks can be applied to structure solutions. Applied too early, they limit the scale of insights and serendipity. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block18.gif">
<div class="infoblock">
<p>Frameworks can be used to refine solutions, and good solutions can be used to refine frameworks. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block19.gif">
<div class="infoblock">
<p>It isn’t usually a single solution that solves complex situations, but several solutions that co-exist with each other. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block20.gif">
<div class="infoblock">
<p>Solutions must be self-sustaining while complementing other solutions, creating an inter-purposed solution structure. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block21.gif">
<div class="infoblock">
<p>Patterns are reusable solutions that can selectively applied to create many solution variations and yet have a common quality. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block22.gif">
<div class="infoblock">
<p>Embodied Making can be used to make almost any solution, such as a computer system, building layout, or city plan. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block23.gif">
<div class="infoblock">
<p>By recursively using stories, forces, and solutions, practitioners can build adaptive solutions that grow as they learn. </p>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="patterns-link">
<img class="img-responsive" alt="" src="images/block24.gif">
<div class="infoblock">
<p>The best way to learn about Embodied Making is by using it with an embodied attitude. </p>
</div>
</div>
</div>