<div id="the_essence" class="header-page" style="background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/embodiedmaking-main.jpg');background-position:center center;background-size: cover;">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 text-right">
            <h1 class="text-light shadowtext-1">The Essence</h1>
            <p class="lead shadowtext-1">What is Embodied Making?</p>

        </div>
    </div>
</div>

<div class="darkbg">
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="row content-row">
                <div class="col-xs-12 content-block content-card">

                    <div class="col-sm-12 text-center">
                        <h2 class="text-center">What is Embodied Making all about?</h2>
                        <hr>
                        <img src="/images/embodiedmaking-essence.svg" style="width:20%">
                    </div>
                    <div class="col-sm-4 text-center textbox">
                        <h4><img src="/images/el-story.svg" style="width:30px;margin-top:-5px;">Stories</h4>
                        <hr style="width:30%">
                        <p>Real narratives of experience shared by real people in situations where solutions are needed.</p>
                    </div>
                    <div class="col-sm-4 text-center textbox">
                        <h4><img src="/images/el-force.svg" style="width:30px;margin-top:-5px;">Forces</h4>
                        <hr style="width:30%">
                        <p>Reasons why people experience challenges in situations where solutions are needed.</p>
                    </div>
                    <div class="col-sm-4 text-center textbox">
                        <h4><img src="/images/el-solution.svg" style="width:30px;margin-top:-5px;">Solutions</h4>
                        <hr style="width:30%">
                        <p>Balancing forces to make and sustain forms and practices that collectively improve situations.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container wrap">
        <div class="col-xs-12">
            <div class="col-sm-12 featurette-center">
                <h2 class="text-light shadowtext-1">Learn more about The Basics</h2>
                <a href="/#/the_basics#the_basics"><button type="button" class="btn btn-primary sharp">Read more</button></a>
            </div>
            
        </div>
    </div>
</div>